@model IEnumerable<auctionbaseUI.Models.tblHtml>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>

      @foreach (var item in Model) {
        <tr>
            <td>
             
              @Html.Raw(item.html_data)
              
        

              
            </td>
        </tr>
    }
        
    </div>
</body>
</html>
