@model IEnumerable<auctionbaseUI.Models.tblHtml>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Hiace</title>
</head>
<body>
    <div>
        LATEST HIACE VANS (LATEST SEARCH SESSION == SESSION @ViewBag.Model)
        <br />
   @foreach (var item in Model) {
      
             
   @Html.Raw(item.html_data)
                    
       }
       



    </div>
</body>
</html>
