@model IEnumerable<auctionbaseUI.Models.tblVehicle>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <p>
     
    </p>
    <table>
        <tr>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
               
                @item.Vehicle_Make
                @item.Vehicle_Model 
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
