@model auctionbaseUI.Models.WelcomeViewData
 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head> 
<body>
    <p>
  @Html.DropDownList("Vehicle_Model", Model.selectList, Model.selectList)
  @Html.ac
    </p>

    
    <table>
        <tr>
            <th>Search By Vehicle Model</th>
            <br>
            <br>
        </tr>
    
    @foreach (var item in Model.vehicleModels) {
      
        <tr>
            <td>
             
               
                 @Html.ActionLink(item.Vehicle_Model, "Models", "MainNav", new { model = item.Vehicle_Model }, null)   
               
             
              
           
            </td>
        </tr>
    }

    
    
    </table>

    <table >
    
    <tr><td>
    
    <b>Search By Vehicle Type</b>

    </td></tr>
    <tr></tr>
    <tr></tr>

   
     
          

      @foreach (var item in Model.vehicleDefinedTypes)
      {
       <tr>
       <td> 

      @Html.ActionLink(item.VehicleTypeDefined, "definedSearch", "MainNav", new {type = item.VehicleTypeDefined}, null)

       </td>
       </tr>

      }

       </table>
     
</body>
</html>
